%h1
  %a{:href=>home_url, :title=>"#{configatron.community_name}"}= configatron.community_name
.site-nav
  %ul
    - Category.find(:all).each do |c|
      = topnav_tab c.name, {:url => category_path(c), :section => [c.name]}
    = topnav_tab :people.l, { :url => users_path, :section => ['users'] }
    = topnav_tab :popular.l, { :url => popular_path, :section => ['popular'] }
    = topnav_tab :forums.l, { :url => forums_path, :section => ['forums'] }
    - if current_user
      = topnav_tab :my_profile.l, { :url => user_path(current_user), :section => ['my_profile']}
    - if @header_tabs.any?
      - @header_tabs.each do |tab|
        = topnav_tab tab[:name], {:url => tab[:url], :section => [tab[:section]] }
